# phpstan.neon
includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 1

    # Ignore specific violations temporarily during migration
    ignoreErrors:
        - '#Method .* has no return type specified#'
        - '#Property .* has no type specified#'

    checkUninitializedProperties: true
    checkExplicitMixedMissingReturn: true